.big-container {
    margin-top: 10rem;
  }
  
  .title-container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  
  .box-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 40rem;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 40%;
    margin: 1rem;
    height: 15rem;
    border: 1px solid;
    border-color: rgba(224, 178, 85, 0.19);
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
  }
  
  .personality {
    font-size: 3rem;
    transform: translateY(-20%); /* Slightly higher position */
    transition: transform 0.5s ease-in-out;
  }
  
  .elaboration {
    font-size: 1rem;
    white-space: wrap;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(20%); /* Slightly lower position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .box:hover .personality {
    transform: translateY(-50%);
    opacity: 0
  }
  
  .box:hover .elaboration {
    opacity: 1;
    transform: translate(-50%, -50%);
  }