@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: 'EB Garamond';
    src: url('https://fonts.gstatic.com/s/ebgaramond/v19/~ChoKC0VCIEdhcmFtb25kOgsI9NCduwcVAADIQxAJIAU=.woff2') format('woff2'),
         url('https://fonts.gstatic.com/s/ebgaramond/v19/~ChoKC0VCIEdhcmFtb25kOgsI9NCduwcVAADIQxAKIAU=.woff') format('woff');
    font-weight: 400 800;
    font-style: normal italic;
  }

/*chinese font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

@font-face {
     font-family: 'Noto Serif SC';
     src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap') format('woff2');
     font-weight: 200 900;
     font-style: normal;
     font-display: swap; 
}